#pagina{
	width:100%;
	height:100%;
}
#contenido{
	width:600px;
	margin: 100px auto;
	border: 1px solid black;
	padding: 2px 2px 20px;
}
#cabecera{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4003e+0,e97a9b+100 */
	background: #c4003e; /* Old browsers */
	background: -moz-linear-gradient(top,  #c4003e 0%, #e97a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c4003e 0%,#e97a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c4003e 0%,#e97a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4003e', endColorstr='#e97a9b',GradientType=0 ); /* IE6-9 */
	height:50px;
	width:100%;
	text-align:center;
}
#cabecera:after {
    content: "Som EPS - BRUJULA TECNOLOGIAS DE LA INFORMACION";
    color: #fff;
	line-height:50px;
}
#formulario{
	margin:20px 15px;
	position:relative;
	text-align:left;
}

#formulario:after {
    clear: both;
    content: "";
    display: table;
}
#guardar{
	position:relative;
    top:50%; 
	width:60px;
    left:calc(50% - 30px);
}
.campo{
	margin-top:15px;
	width:50%;
	float:left;
}
.campo label{
	font-weight:bold;
}
.campo input{
	width:90%;	
}
.campo select{
	width:90%;	
}